<nav class="navbar">
	<div class="wrapper">
		<a href="{% url 'home' %}" class="navbar-brand" style="float: left;font-family: Georgia, Verdan;font-size: 46px; ">¦Journal¦</a>
    <ul class="navbar-right">
    	    <li><a href="{% url 'index' %}" style="text-decoration:none"><font face="Arial, Verdana, Georgia" size="" color="#ffffff">Blog</font></a></li>
    	    <li><a href="{% url 'contact' %}" style="text-decoration:none"><font face="Arial, Verdana, Georgia" size="" color="#ffffff">Contact</font></a></li>
    	    <li><a href="{% url 'about' %}" style="text-decoration:none"><font face="Arial, Verdana, Georgia" size="" color="#ffffff">About</font></a></li>
    	    <li><a href="{% url 'home' %}" style="text-decoration:none"><font face="Arial, Verdana, Georgia" size="" color="#ffffff">Home</font></a></li>
    	    
    </ul>

	</div>
	
</nav>